[MAIN]
extension-pkg-allow-list=
    popplerqt5,
    PyQt5.Qt,
    PyQt5.QtCore,
    PyQt5.QtGui,
    PyQt5.QtSvg,
    PyQt5.QtWidgets,

ignored-modules=
    mido,

recursive=yes

[MESSAGES CONTROL]
disable=
    #import-error,
    pointless-string-statement,
    missing-class-docstring,
    missing-module-docstring,
    missing-function-docstring,
