Source: playscript-autoscroller
Section: sound
Priority: optional
Maintainer: s0600204 <dev@s0600204>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 pybuild-plugin-pyproject,
 python3-all,
 python3-appdirs,
 python3-mido,
 python3-pyqtdarktheme,
 python3-qtpy,
 python3-rst4qt,
 python3-rtmidi,
 python3-setuptools,
 python3-strictyaml
Standards-Version: 4.6.2
Homepage: https://github.com/s0600204/playscript-autoscroller.git

Package: playscript-autoscroller
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends}
Suggests:
 python3-poppler-qt5,
 python3-pyqt6.qtpdf,
 python3-pyside6.qtpdf
Description: Scrolls a playscript up the screen
 Speed and direction controllable via MIDI commands.
