Source: playscript-autoscroller
Section: sound
Priority: optional
Maintainer: s0600204 <dev@s0600204>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 pybuild-plugin-pyproject,
 python3-all,
 python3-appdirs,
 python3-setuptools
Standards-Version: 4.6.2
Homepage: https://github.com/s0600204/playscript-autoscroller.git

Package: python3-playscript-autoscroller
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends}
Description: Scrolls a playscript up the screen
 Speed and direction controllable via MIDI commands.
